* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #507255;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 5rem;    
};

